Raptor/RaptorQ FEC scheme

It would be interesting to try Raptor/RaptorQ FEC codes. It is claimed that they perform better than Reed-Solomon.

They are block-based, so it would be enough to add corresponding implementations of fec::IBlockEncoder and fec::IBlockDecoder.

RFCs:

* [RFC 6681](https://tools.ietf.org/html/rfc6681)
* [RFC 6682](https://tools.ietf.org/html/rfc6682)

Implementations:

* [OpenRQ](https://github.com/openrq-team/OpenRQ) (Java)
* [orq](https://github.com/olanmatt/orq) (C++)

Hi @gavv. Is this issue still open? Can I work with it? What should i start with?

Hi! Yes, this is still relevant and you're welcome.

I'd recommend to start from reading [this page](https://roc-project.github.io/roc/docs/internals/fec.html) from our documentation and then [RFC 6363](https://tools.ietf.org/html/rfc6363), [RFC 6681](https://tools.ietf.org/html/rfc6681), and [RFC 6682](https://tools.ietf.org/html/rfc6682).

Then I suggest to look at OpenRQ and orq. IIRC, OpenRQ is quite complete, but it's written in Java. I don't know whether orq is complete. So you'll need to do some research. If we can just use orq, it would be great! If it's far from complete, we'll have either to send patches or to grow our own implementation, likely using OpenRQ and orq as a reference.

We already have generic FECFRAME code and tests. We support two FEC schemes (LDPC and Reed-Solomon). In command-line tools FEC scheme is auto-detected from port protocols (e.g. `rs8m` protocol corresponds to Reed-Solomon scheme). See manual pages for info on how to try different schemes. You can play with them and see how they behave on different block sizes and packet loss ratios. [This post](https://gavv.github.io/articles/new-network-transport/#loss-recovery) may be helpful.

In this task we should add raptor-specific payload format and encoder/decoder. For payload format, look at the roc_fec/headers.h, used in fec::Parser and fec::Composer. For codecs, look at fec::OFEncoder and fec::OFDecoder (LDPC and Reed-Solomon encoder & decoder implemented using OpenFEC). Then we should integrate the new scheme into pipeline and add corresponding protocols. Finally, it would be interesting to compare Raptor with existing schemes in terms of latency and service quality.

Oh, and there are also:

* https://github.com/LucaFulchir/libRaptorQ
* https://github.com/cberner/raptorq

I've took a look at those libraries and I think libRaptorQ looks very promising and we should try it first (its C++98 or C API).

I've also updated the issue and added a more detailed plan. And I've removed the part about fec::Parser/fec::Composer - we actually don't need a new parser & composer for Raptor because it doesn't introduce new headers, only a new RTP payload.

@ffisherr What do you think? Are you working on this / have plans to work on this?

Hey @gavv, agree with you, example in libRaptorQ seems very easy, i believe, i can do the first pull request in couple days. 

Great!

Hey, i have some troubles while adding libRaptorQ to SConstruct file. Here it is:
/usr/local/include/RaptorQ/v1/caches.hpp:24:10: fatal error: vector: Нет такого файла или каталога
 #include <vector>
How can i solve that?

We don't use STL, but we don't disable it in any way. So the error is unrelated. It's OK if libraptorq uses STL, we just wont be able to enable raptor on some restricted platforms. 

You can push your changes to a branch on your fork and I'll take a look at it.

Done. 

Have you tried to remove `extern "C"` when including libraptorq headers?

In "rq_encoder.h"  #include <RaptorQ/RaptorQ_v1.hpp>? Yes, still doesn't work..

Well, I can't reproduce the error with `<vector>`, probably we have different compiler versions. But I got lots of other errors on your branch:

* compiler is complaining on extern C; it should not be used for C++ headers;
* roc is built with -std=c++98, and the included headers require at least C++11, which causes a lot of compilation errors.

One option would be to modify our build system to use c++11/c++17 for raptor codecs, but I'd like to avoid mixing different C++ standards for different translation units, it can lead to various linking problems.

Can we just use libraptorq pure C API instead?

BTW, for extensive discussions/debugging/etc I recommend to use our [mailing list](https://roc-project.github.io/roc/docs/about_project/contacts.html).

@ffisherr Do you still have plans on this?

Unassigning this so that someone else could pick it up. @ffisherr feel free to ping me if you decide to come back.

If somebody will pick this up, please take a look at these discussion at the mailing list:

https://www.freelists.org/post/roc/libRaptorQ
https://www.freelists.org/post/roc/roc-Re-libRaptorQ